{{ define "content" }}
<div class="container py-6">
  <section class="row justify-content-between align-items-center">
    <div class="col-sm-12">
      Als Verein machen wir Coworking ein bisschen anders. Weniger Geld gegen
      Ware, unpersönlich, anonym, und mehr Teil des Vereins und Space werden. Deswegen sind unsere Coworking Preise Mitgliedsbeiträge für den Verein. Austreten kannst du natürlich trotzdem jederzeit.<br/>
      Wir haben Fix Desks in einem abgeschlossenen Raum für 250€/Monat und Flex Desks im offenen Raum für 100€/Monat, sowie ein Flex10 Modell mit 10 Tagen im Monat für 50€/Monat.<br/>
      Da unser Platz sehr begrenzt ist können wir leider keine dedizierten Teambüros anbieten.
    </div>
  </section>
  <section class="py-5 flex-column justify-content-between align-items-center d-md-flex">
    <div class="grid">
      <img
          src="/img/coworking/space_one.png"
          alt="Flow Chart der verschiedenen Coworking Modelle"
          title="Pick a desk"
          class=""
      />
      <img
          src="/img/coworking/space_two.png"
          alt="Flow Chart der verschiedenen Coworking Modelle"
          title="Pick a desk"
          class=""
      />
      <img
          src="/img/coworking/space_three.png"
          alt="Flow Chart der verschiedenen Coworking Modelle"
          title="Pick a desk"
          class=""
      />
      <img
          src="/img/coworking/space_four.png"
          alt="Flow Chart der verschiedenen Coworking Modelle"
          title="Pick a desk"
          class=""
      />
    </div>
  </section>
  <section class="row align-items-center justify-content-between">
    <div class="col-sm-12">
      <p>
        Unser Space liegt am Anfang der Olpener Straße auf der Schäl Sick. Also fast in Kalk.
      </p>
      <p>
          Wie du mitmachen kannst? Schreib uns ne Mail oder komm mittwochs ab 19.00 im Space vorbei. Da haben wir unseren offenen Abend, du kannst dir alles in Ruhe anschauen und Menschen kennenlernen.
      </p>
    </div>
  </section>
  <section class="row justify-content-center">
    <div class="col-8 col-sm-6 just py-5 text-center">
      <p>
        Hast du Interesse?
      </p>
      <div>
        <wired-button class="d-block">
          <a href="mailto:hallo@kalk.space">Schick uns ne Mail</a>
        </wired-button>
      </div>
    </div>
  </section>
</div>
{{ end }}

{{ define "left-intro" }}
<div class="text-center">
  <img
    class="intro__astronaut-sm px-4 pb-4 px-lg-5"
    src="/img/working_astro_white.svg"
    alt="Astronaut im Raumanzug, gezeichnet"
  />
</div>
{{ end }}

{{ define "right-intro" }}
<div>
  <h2>Coworking</h2>
  <p>
    Zum Arbeiten braucht es mehr als gutes Internet und trinkbaren Kaffee.
  </p>
</div>
{{ end }}
