{{ define "content" }}
<div class="container py-6">
  <section class="row align-items-center">
    <div class="col-6">
      Als Verein machen wir Coworking ein bisschen anders. Weniger Geld gegen
      Ware, unpersönlich, anonym, und mehr Teil des Vereins und Space werden.
      Wir haben Fix Desks in einem abgeschlossenen Raum für 250€/Monat
      Mitgliedsbeitrag und Flex Desks im offenen Raum für 100€/Monat
      Mitgliedsbeitrag.
    </div>
    <div class="col-6">
      <img src="https://placekitten.com/400/300" alt="die katz" />
    </div>
  </section>
  <section class="row py-2 align-items-center">
    <div class="col-6">
      <img src="https://placekitten.com/400/300?1=3" alt="die katz" />
    </div>
    <div class="col-6">
      Wie du mitmachen kannst? Schreib uns ne Mail oder komm mittwochs ab 20.00
      im Café Hopla um uns kennenzulernen.
    </div>
  </section>
  <section class="row justify-content-center">
    <div class="col-4 just py-5 text-center">
      <p>
        Hast du Interesse?
      </p>
      <div>
        <wired-button class="d-block">
          <a href="mailto:hallo@kalk.space">Schick uns ne Mail</a>
        </wired-button>
      </div>
    </div>
  </section>
</div>
{{ end }}

{{ define "left-intro" }}
<img
  class="intro__astronaut px-4 pb-4 px-lg-5"
  src="/img/astronaut_sofa.svg"
  alt="Astronaut im Raumanzug, gezeichnet"
/>
{{ end }}

{{ define "right-intro" }}
<div>
  <h2>Coworking</h2>
  <p>
    Zum Arbeiten braucht es mehr als gutes Internet und trinkbaren Kaffee.
  </p>
</div>
{{ end }}
