{{ define "content" }}
<div class="container py-6">
  <section class="row justify-content-between align-items-center">
    <div class="col-sm-12 col-md-8">
      Als Verein machen wir Coworking ein bisschen anders. Weniger Geld gegen
      Ware, unpersönlich, anonym, und mehr Teil des Vereins und Space werden. Deswegen sind unsere Coworking Preise Mitgliedsbeiträge für den Verein. Austreten kannst du natürlich trotzdem jederzeit.</br>
      Wir haben Fix Desks in einem abgeschlossenen Raum für 250€/Monat und Flex Desks im offenen Raum für 100€/Monat, sowie ein Flex10 Modell mit 10 Tagen im Monat für 50€/Monat.
    </div>
    <div class="col-sm-12 col-md-3">
      <img src="/img/construction_astro.svg" class="img-fluid" alt="drawing of two construction astronauts" />
    </div>
  </section>
  <section class="row py-4 align-items-center justify-content-between">
    <div class="d-none d-md-flex col-md-3">
        <img src="/img/construction_astro.svg" class="img-fluid" alt="drawing of two construction astronauts" />
      </div>
    <div class="col-sm-12 col-md-8">
      <p>
        Unser Space liegt am Anfang der Olpener Straße auf der Schäl Sick. Also fast in Kalk.
      </p>
      <p>
          Wie du mitmachen kannst? Schreib uns ne Mail oder komm mittwochs ab 20.00
          im Café Hopla um uns kennenzulernen.
      </p>
    </div>
  </section>
  <section class="row justify-content-center">
    <div class="col-8 col-sm-6 just py-5 text-center">
      <p>
        Hast du Interesse?
      </p>
      <div>
        <wired-button class="d-block">
          <a href="mailto:hallo@kalk.space">Schick uns ne Mail</a>
        </wired-button>
      </div>
    </div>
  </section>
</div>
{{ end }}

{{ define "left-intro" }}
<div class="text-center">
  <img
    class="intro__astronaut-sm px-4 pb-4 px-lg-5"
    src="/img/working_astro_white.svg"
    alt="Astronaut im Raumanzug, gezeichnet"
  />
</div>
{{ end }}

{{ define "right-intro" }}
<div>
  <h2>Coworking</h2>
  <p>
    Zum Arbeiten braucht es mehr als gutes Internet und trinkbaren Kaffee.
  </p>
</div>
{{ end }}
