{{ define "content" }}
<div class="container">
  <section class="row py-6 align-items-center justify-content-between">
    <div class="col-sm-12 col-md-3">
      <img
        src="/img/friend_astros.svg"
        class="img-fluid"
        alt="Zwei Astronauten beim Arbeiten"
      />
    </div>
    <div class="col-sm-12 col-md-8">
      Als Vereinsmitglied (für 60€/jährlich Mitgliedsbeitrag) kannst du unsere
      Räumlichkeiten nutzen, um von Yoga Kursen bis zum Repair Cafe alles ins
      Leben zu rufen, wonach dir der Sinn steht.
    </div>
  </section>
  <section class="row py-4 align-items-center justify-content-between">
    <div class="col-sm-12 col-md-8">
      <p>
        Ein paar Beispiele bestehender Initiativen:
      </p>
      <ul>
        <li>Buchclub</li>
        <li>
          <a
            href="https://discuss.kalk.space/t/coding-workshops-fuer-kinder/31"
            target="_blank"
            >Kinder Programmierkurse</a
          >
        </li>
        <li>
          <a
            href="https://discuss.kalk.space/t/marvellous-movie-twosday/46"
            target="_blank"
            >Filmclub</a
          >
        </li>
        <li>
          <a
            href="https://discuss.kalk.space/t/fuck-frauennon-binarytransinter-und-computer-kram/26"
            target="_blank"
            >F.U.C.K.</a
          >
        </li>
        <li>
          <a
            href="https://discuss.kalk.space/t/kalk-space-hoerspiel-podcast/38"
            target="_blank"
            >KalkSpace Hörspiel Podcast</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <img
        src="/img/flying_cat.svg"
        class="img-fluid"
        alt="Zwei Astronauten beim Arbeiten"
      />
    </div>
  </section>
  <section class="row">
    <div class="col">
      <p>
        Wir suchen Macher*innen. Du hast eine Idee? Du setzt sie um. Do-ocracy
        ist unsere Maxime.
      </p>
    </div>
  </section>
  <section class="row justify-content-center">
    <div class="col-8 col-sm-6 just py-4 text-center">
      <h4>
        Lust mitzumachen?
      </h4>
    </div>
  </section>
</div>
<div>
  <section>
    <div class="space-one">
      <h4 class="container py-4 d-flex justify-content-center">Unser Forum</h4>
    </div>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <p>
            Im Forum werden Vorschläge mit der gesamten Community besprochen.
            Das Forum ist unsere "verbindliche" Platform für Themen, die in den
            Mitgliederversammlungen diskutiert werden sollen.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <wired-button class="d-block">
            <a href="https://discuss.kalk.space" target="_blank"
              >Melde dich im Forum an</a
            >
          </wired-button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="space-one">
      <h4 class="container py-4 d-flex justify-content-center">Unser Slack</h4>
    </div>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <p>
            Im Slack erreichst du nur eine Handvoll Menschen. Nämlich nur die,
            die gerade online sind. Slack eignet sich gut für Zwischenrufe,
            spontane Aktionen mit wenigen Menschen oder für "Ich hab Kuchen
            mitgebracht". Bitte diskutiere hier keine grösseren Themen, sondern
            bringe diese im Forum ein, damit auch Leute, die nicht
            kontinuierlich im Slack sind eine Chance haben bei deinen Themen
            mitzuwirken.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <wired-button class="d-block mt-3">
            <a
              href="https://join.slack.com/t/kalkspacecommunity/shared_invite/enQtNzg3NDg2MTMyMDgwLWRmODI3OGQzODM4NGQ5M2I3YjhmZDI5ODE0ZmE5YjkwOTVlNTE1Y2MzYTM0NDk4NGM5YzZmMzU1NDBiY2JmNWM"
              target="_blank"
              rel="noreferrer"
              >Sprich direkt mit der Community via Slack</a
            >
          </wired-button>
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}

{{ define "left-intro" }}
<div class="text-center">
  <img
    class="intro__astronaut-sm px-4 pb-4 px-lg-5 img-fluid"
    src="/img/buddy_astros_white.svg"
    alt="Astronauten, die sich umarmen"
  />
</div>
{{ end }}

{{ define "right-intro" }}
<div>
  <h2>Community</h2>
  <p>
    Wir wollen Platz und Raum schaffen für Workshops, Initiativen, Ideen und
    Kunst.
  </p>
</div>
{{ end }}
