{{ define "content" }}
<div class="container py-6">
  <section class="row align-items-center">
    <div class="col-6">
      <img src="https://placekitten.com/400/300?7" alt="die katz" />
    </div>
    <div class="col-6">
      Als Vereinsmitglied (für 60€/jährlich Mitgliedsbeitrag) kannst du unsere
      Räumlichkeiten nutzen, um von Yoga Kursen bis zum Repair Cafe alles ins
      Leben zu rufen, wonach dir der Sinn steht.
    </div>
  </section>
  <section class="row py-6">
    <div class="col-6">
      <div>
        <p>
          Ein paar Beispiele bestehender Initiativen:
        </p>
      </div>
      <div>
        <ol>
          <li>Buchclub</li>
          <li>
            <a
              href="https://discuss.kalk.space/t/coding-workshops-fuer-kinder/31"
              target="_blank"
              >Kinder Programmierkurse</a
            >
          </li>
          <li>
            <a
              href="https://discuss.kalk.space/t/marvellous-movie-twosday/46"
              target="_blank"
              >Filmclub</a
            >
          </li>
          <li>
            <a
              href="https://discuss.kalk.space/t/fuck-frauennon-binarytransinter-und-computer-kram/26"
              target="_blank"
              >F.U.C.K.</a
            >
          </li>
          <li>
            <a
              href="https://discuss.kalk.space/t/kalk-space-hoerspiel-podcast/38"
              target="_blank"
              >KalkSpace Hörspiel Podcast</a
            >
          </li>
        </ol>
      </div>
    </div>
    <div class="col-6">
      <img src="https://placekitten.com/400/200?17=1" alt="die katz" />
    </div>
  </section>
  <section class="row">
    <p>
      Wir suchen Macher*innen. Du hast eine Idee? Du setzt sie um. Do-ocracy ist
      unsere Maxime.
    </p>
  </section>
  <section class="row justify-content-center">
    <div class="col-4 just py-4 text-center">
      <p>
        Lust mitzumachen?
      </p>
      <div>
        <wired-button class="d-block">
          <a href="https://discuss.kalk.space" target="_blank"
            >Melde dich im Forum an</a
          >
        </wired-button>
      </div>
    </div>
  </section>
</div>
{{ end }}

{{ define "right-intro" }}
<div>
  <h2>Community</h2>
  <p>
    Wir wollen Platz und Raum schaffen für Workshops, Initiativen, Ideen und
    Kunst.
  </p>
</div>
{{ end }}
