.coworking {
  &__box {
    border: 1px solid black;
    height: 100%;
    padding: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;

  @media (max-width: 850px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

img {
  max-width: 100%;
}