.intro {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    &__astronaut {
        max-width: 100%;
    }

    h1 {
        font-size: 5rem;

        small {
            font-size: 50%;
        }
        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 3rem;
        }
    }

    h4 {
        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 1.25rem;
        }
    }

    wired-card {
        color: black;
        background-color: white;
        margin-right: .5rem;
    }
}