$spacer: 1rem;
$spacers: (6: ($spacer * 4.5));

@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "colors";
@import "links";

@import "layout";
@import "menu";
@import "typo";
@import "intro";
@import "coworking";
@import "form";
@import "vision";
@import "cta";
@import "team";
@import "footer";
@import "news";
@import "foerder";
@import "events";
@import "blog";
@import "calendar";
