.main-menu {
  color: $primary;
  display: flex;
  justify-content: flex-end;
  padding: 3rem;

  @media (max-width: 750px) {
    padding: 1rem;
  }

  a {
    padding-left: 3rem;
    font-size: 1.8rem;

    &:first-of-type {
      padding-left: 0;
    }

    @media (max-width: 1050px) {
      font-size: 1.5rem;
      padding-left: 0.5rem;
    }

    @media (max-width: 650px) {
      font-size: 0.9rem;
    }
  }
}
