@import "colors";

.newsletter {
    wired-card {
        flex-grow: 1;
    }

    input[type=email] {
        height: 3rem;
        font-size: 1.1rem;
        padding: .5rem;
        width: 100%;
        border: 0;
    }

    wired-button {
        padding: 0;
        background-color: $primary !important;
        opacity: 1 !important;
        color: white;

        button {
            color: white;
            cursor: pointer;
            padding: .5rem 1rem;
            font-weight: bold;
            position: relative;
            font-size: 1.1rem;
            line-height: 2em;
            border: none;
            background: none;
            height: 100%;
        }
    }
}