.newsletter {
    wired-input {
        flex-grow: 1;
        height: 3rem;
        font-size: 1.1rem;
        padding: .75rem;
        width: auto;
    }

    wired-button {
        font-weight: bold;
        position: relative;
        font-size: 1rem;
        line-height: 2em;

        &:after {
            content: "";
            background-color: red;
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            z-index: -1;
        }
    }
}