.outro {
    img {
        max-width: 100%;
    }

    wired-button {
        padding: 0;
        color: white;

        a {
          background-color: $primary;
          font-weight: bold;
          color: white;
          text-decoration: none;
          padding: .5rem 1rem;
        }
    }
}
