<div class="footer py-4 pl-6 pr-6 d-flex justify-content-end space-one">
  <span>
    {{ if .Page.IsHome }}
    <strong>KalkSpace.</strong>
    {{ else }}
    <a href="/" title="Zur Startseite"><strong>KalkSpace.</strong></a>
    {{ end }}
    <a href="https://g.page/kalkspace?share" target="_blank" rel="noreferrer">Olpener Str. 33</a>
  </span>
  <div class="d-flex flex-md-row flex-column">
    <a href="https://discuss.kalk.space/" target="_blank" class="ml-4">Forum</a>
    <a href="https://www.instagram.com/kalk.space/" target="_blank" rel="noreferrer" class="ml-4"
      >Instagram</a
    >
    <a href="https://twitter.com/kalkspace" target="_blank" rel="noreferrer" class="ml-4"
      >Twitter</a
    >
    <a
      href="https://join.slack.com/t/kalkspacecommunity/shared_invite/enQtNzg3NDg2MTMyMDgwLWRmODI3OGQzODM4NGQ5M2I3YjhmZDI5ODE0ZmE5YjkwOTVlNTE1Y2MzYTM0NDk4NGM5YzZmMzU1NDBiY2JmNWM"
      target="_blank"
      rel="noreferrer"
      class="ml-4"
      >Slack</a
    >
    <a href="/datenschutz" class="ml-4">Datenschutz</a>
    <a href="/impressum" class="ml-4">Impressum</a>
  </div>
</div>

<!-- Google Analytics -->
<script>
  (function(i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function() {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "https://www.google-analytics.com/analytics.js",
    "ga"
  );

  ga("create", "UA-125273097-1", "auto");
  ga("set", "anonymizeIp", true);
  ga("send", "pageview");
</script>
<!-- End Google Analytics -->
