<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="/img/logo_square_fb.png">
<meta name="description" content="Coworking-Community auf der Schäl Sick">

<title>
{{ if eq .Path "_index.md" }}
  {{ .Site.Title }}
{{ else }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}
</title>

<link rel="stylesheet" href="/css/main.css">

<script src="/js/webcomponents-loader.js"></script>
<script src="/js/wired-elements.bundled.min.js"></script>
