<form action="https://space.us18.list-manage.com/subscribe" method="GET" class="newsletter d-flex flex-lg-row flex-column">
    <input type="hidden" name="u" value="ae72e4ed1c56acd3e2ab267d7">
    <input type="hidden" name="id" value="8f4168ca9e">

    <wired-card class="d-block">
        <input type="email" name="MERGE0" placeholder="Deine E-Mail-Adresse" />
    </wired-card>
    <wired-button class="d-block"><button type="submit">
        Sagt mir Bescheid!
    </button></wired-button>
</form>
