<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "meta" . }}
  </head>
  <body class="congress">
  <img src="/img/congress/astronaut.png" alt="Astronaut" class="astronaut" />
  <div class="wrapper">
    <h1>Remote Chaos Experience im KalkSpace</h1>

    <h2 class="date">27.12. bis 30.12.</h2>

    <p>
      Workshops und Veranstaltungen rund um die Themen:
      Tech, Feminismus, digitale Bildung, Politik, Nachhaltigkeit, Kunst und Community
    </p>

    <a class="ticket-cta" href="https://tix.kalk.space/kalkspace/congress/1/">
      Ticket sichern!
    </a>

    <h2>Der Chaos Communication Congress</h2>
    <p>Der Chaos Communication Congress findet normalerweise jährlich zwischen Weihnachten und Neujahr in den Leipziger Messen statt. Organisiert vom Chaos Computer Club, treffen sich hier ca. 17.000 Nerd*innen und basteln, hacken, lernen, trinken Mate und Tschunk, hören sich Vorträge an und schauen, was den Rest des Jahres so gebastelt wurde. Auf Grund von Corona hat der letzte Congress nur online stattgefunden.</p>

    <p>Dieses Jahr gibt es eine Hybridlösung: Es wird wieder viele, viele Vorträge live online geben. Und eine online 3D-Welt. Aber es gibt, im Gegensatz zum letzten Jahr, auch dezentrale kleine Orte in ganz Deutschland, an denen Dinge offline stattfinden.</p>

    <h2>Der Plan</h2>
    Unser Plan ist zweiteilig:

    <p>Zum einen wird es im WorkSpace (also in den oberen Räumen) tagsüber Workshops zu den verschiedensten Themen geben.</p>

    <p>Zum anderen wird es im DeepSpace (also unten) den ganzen Tag und Abend Waffeln, Mate, Tschunk, blinkende Lichter und Vorträge geben. Und abends special Programm.</p>

    <h2>Programm</h2>
    <p><a href="https://tix.kalk.space/kalkspace/congress/1/">Hier findest du das Programm</a> und hast die Möglichkeit, dich für einzelne Workshops und Vorträge und/oder ganze Tage im DeepSpace anzumelden. Schnell sein, da wir Corona-bedingt sehr wenige Plätze haben werden.</p>

    <p>Folgende Programmpunkte sind schon fix:</p>

    <ul>
      <li>
        27.12. 16.00 - 18.00 Workshop: <a href="https://discuss.kalk.space/t/workshop-rust-lang/650">Einstieg in Rust</a>
      </li>
      <li>
        28.12. 12.00 - 14.00 Workshop: <a href="https://discuss.kalk.space/t/planung-workshop-orca-einfuehrung/665">Orca Einführung</a>
      </li>
      <li>
        28.12. 14.00 - 16.00 Workshop: <a href="https://discuss.kalk.space/t/workshop-f-u-c-k-fluchen-sticken/628">f.u.c.k. Fluchen und Sticken</a>
      </li>
      <li>
        28.12. 21.00 - 22.00 Lesung: <a href="https://discuss.kalk.space/t/lesung-sex-im-mittelalter/684">Sex im Mittelalter</a>
      </li>
      <li>
        29.12. 10.00 - 14.00 Workshop: <a href="https://discuss.kalk.space/t/workshop-mini-hebocon/629">HeboCon Kids</a>
      </li>
      <li>
        29.12. 14.00 - 18.00 Workshop: <a href="https://discuss.kalk.space/t/workshop-hebocon/630/2">HeboCon</a> (Fight ab 21.00)
      </li>
      <li>
        30.12. 12.00 - 14.00 Vortrag: <a href="https://discuss.kalk.space/t/talk-remote-nfts-and-the-end-of-capitalism/659">NFTs and the End of Capitalism</a>
      </li>
      <li>
        30.12. 14.00 - 16.00 Vortrag: <a href="https://discuss.kalk.space/t/workshop-gruenes-webdesign-nachhaltiges-design-fuer-einen-positiveren-digitalen-fussabdruck/634">Nachhaltiges Design</a>
      </li>
    </ul>

    <h2>Mitmachen</h2>
    <p>Wir suchen Mithilfe bei verschiedenen Themen:</p>

    <h3>Workshops oder Vorträge organiseren:</h3>
    <p>Wir möchten ein möglichst breites Feld an Themen ansprechen und freuen uns, wenn du einen Workshop oder Vortrag bei uns halten möchtest. Länge, online/offline, Teilnehmerzahl, Tag und Thema sind erstmal völlig offen.</p>

    <h3>Orga Hilfe</h3>
    <p>Damit unser Mini Congress so gut wird, wie wir uns das erhoffen, muss noch einiges getan werden. Planungstreffen finden regelmäßig im Space statt. Aktuelle Termine hier:</p>

    <h3>Spenden</h3>
    <p>Je mehr Geld wir zusammenbringen, desto mehr wird es blinken ;)</p>

    <a href="https://discuss.kalk.space/c/veranstaltungen/rc3/34">Mehr Infos zum Mitmachen</a>

    <h2>FAQ</h2>
    <h3>Kostet die Teilnahme etwas?</h3>
    <p>Nein, alle Workshops und Vorträge sind kostenlos. Bei einzelnen Veranstaltungen bitten wir (nach den eigenen finanziellen Möglichkeiten natürlich) um eine Spende für Materialkosten.</p>

    <h3>Corona!?</h3>
    <p>Bisher gehen wir davon aus, das unter strengen Vorsichtsmaßnahmen ein KLEINER Congress im Space möglich sein wird. Das kann sich jederzeit ändern. Die Regeln: 2G plus tagesaktueller Test (wir stellen Tests zur Verfügung).</p>

    <h3>Wo kann ich mich anmelden?</h3>
    <p><a href="https://tix.kalk.space/kalkspace/congress/1/">Hier bekommst du dein digitales Handtuch auf der Liegewiese.</a></p>

    <h3>Was ist der KalkSpace?</h3>
    <p>Der KalkSpace e.V. ist ein gemeinnütziger Coworking-, Hack- und Communityspace in Kalk. Wir stellen Räume zur Verfügung und betreiben digitale Bildungsarbeit. Du findest uns auf der Olpener Straße 33 im Hinterhof.</p>
    </div>
</body>
</html>
