{{ define "content" }}
<div class="container pt-md-5">
    <h3 class="py-5 text-center">Hier findest du alle unsere öffentlichen Events</h3>
    <section class="d-flex justify-content-center">
            <iframe src="https://calendar.google.com/calendar/embed?src=veuv8rdah18ve2fdp35um24670%40group.calendar.google.com&ctz=Europe%2FBerlin" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>    </section>
    <section class="py-5">
        <h3 class="text-center">Du möchtest selber ein Event im KalkSpace veranstalten?</h3>
        <p>
            Kein Problem! Wir freuen uns immer über neue Initiativen, um den Space zu füllen.
            Schritt 1 ist, mal im <a href="https://discuss.kalk.space/c/initiativen" target="_blank">Forum</a> vorbeizuschauen, vielleicht hat ja schon jemand die gleiche Idee.
            Wenn nicht, prima. Leg ein neues Thema an und schlag einen Termin vor. Wir (das sind Penny, Mop, Marcus und Christine) bestätigen den Termin und tragen ihn im Kalender ein.
            Für Vereinsmitglieder ist die Arbeit damit getan und es kann losgehn. Falls du noch nicht Mitglied im Verein bist, brauchst du eine*n Eventpat*in, der/die sich vor, während und nach dem Event um alles kümmert. Frag mal im Forum, es findet sich bestimmt jemand.
        </p>
    </section>
    <section class="pb-5">
        <h3 class="text-center">Welche Events kann ich im KalkSpace halten?</h3>
        <p>Auch zu dieser Frage kannst du dich im Forum inspirieren lassen. Generell ist der KalkSpace ein Ort für eine breite Auswahl an Initiativen, die nicht unbedingt mit Technologie und Computern zu tun haben müssen.</p>
    </section>
</div>
{{ end }}

{{ define "left-intro" }}
<div class="pl-3 pl-lg-5">
    <h2>Events</h2>
    <p>
        Wir haben viel vor. Du auch? Der KalkSpace ist ein Raum für Alle und (fast) alles!
    </p>
</div>
{{ end }}

{{ define "right-intro" }}

<div class="text-center">
    <img
        class="events__astro px-4 pb-4 px-lg-5"
        src="/img/flying_cat_white.svg"
        alt="Astronaut auf Katze, gezeichnet"
    />
</div>
{{ end }}