<div class="container py-5">
  <h3 class="py-4">Hallo, Welt!</h3>
  <div class="justify-content-center">
    <p>
      Wir sind ein Coworking Verein und eine Community kreativer Menschen in
      Kalk. Zusammen wollen wir einen Ort schaffen, an dem Menschen arbeiten,
      ihre Ideen verwirklichen und sich gegenseitig bereichern können.
      Du findest uns hier:
    </p>
    <div class="d-flex justify-content-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10056.349250830232!2d7.0198797!3d50.9405983!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x264d519461b0a5de!2sKalkSpace%20e.V.!5e0!3m2!1sde!2sin!4v1569922307967!5m2!1sde!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
