<section id="community" class="community mb-5">
    <div class="space-one">
        <h3 class="container py-4 d-flex justify-content-center">
            Community
        </h3>
    </div>
    <div class="container justify-content-center my-4">
        <p>
          Großartige Räume können nur von großartigen Leuten geschaffen werden. Wir wollen den
          KalkSpace aus drei Gründen als Verein im Kollektiv betreiben:
        </p>
        <p>
          1. Wir wollen mit Coworking kein Geld verdienen. Der Space ist Selbstzweck und muss sich nur
          selber tragen. Wir bitten für die Vereinsmitgliedschaft um einen geringen Mitgliedsbeitrag (geplant
          60€ jährlich).
        </p>
        <p>
          2. Der KalkSpace soll mehr als nur ein Arbeitsplatz sein. Wir wollen Platz und Raum schaffen für
          Workshops, Initiativen, Ideen und Kunst. Nur als Vereinsmitglied kannst du unsere Event
          Räumlichkeiten nutzen, um von Yoga Kursen bis zum Repair Cafe alles ins Leben zu rufen, wonach
          dir der Sinn steht.
        </p>
        <p>
          3. Wir suchen Macher*innen. Du hast eine Idee? Du setzt sie um. Do-ocracy ist unsere Maxime.
        </p>
        <p>
            Lust, mit zu machen?
        </p>
    </div>
    <div class="container justify-content-center d-flex">
      <h4>
        Lern uns kennen!
      </h4>
    </div>
    <div class="container justify-content-center d-flex">
      <wired-button class="cta__button align-self-center">
          <a href="/slack-invite">Teil der Community werden!</a>
      </wired-button>
    </div>
  </div>
</section>
