<section id="coworking" class="coworking mb-5">
    <div class="space-one">
        <h3 class="container py-4 d-flex justify-content-center">
            Coworking
        </h3>
    </div>
    <div class="container py-5">
        <p>
            Zum Arbeiten braucht es mehr als gutes Internet und trinkbaren Kaffee. Wir
            waren in Europas Coworking Spaces unterwegs und haben Best Practices
            gesammelt, um euch den perfekten Ort zum Arbeiten zu schaffen.
        </p>
    </div>
    <div class="container py-2">
        <div class="product-wrapper coworking__box">
            <h4>Fix Desk</h4>
            <p>Du brauchst Raum nicht nur für deinen Laptop und eine Kaffeetasse, sondern auch für deine eigene Zimmerpflanze, Stehlampe, einen Rollcontainer, ein Körbchen für den Hund, usw.? Dann ist unser Fix Desk genau das Richtige für dich. Du bekommst deinen eigenen Schreibtisch, kannst dich nach Lust und Laune einrichten und arbeiten, wie und wann du willst.</p>
            <ul>
                <li>Fester Schreibtisch</li>
                <li>ruhige Area</li>
                <li>24h Zugang</li>
                <li>2h/Woche Meetingraum gratis</li>
            </ul>
            <div class="d-flex"><p class="mr-2">Vorläufiger Preis:</p><h4>250€/Monat</h4></div>
            <wired-button class="cta__button align-self-center py-2">
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd0xkhzUN-gf8_gm3RGQqqwdvjzHMRwD0gT23D8rknPqxv4ag/viewform?usp=sf_link">Tisch reservieren!</a>
            </wired-button>
        </div>
    </div>
    <div class="container py-2">
        <div class="product-wrapper coworking__box">
            <h4>Flex Desk</h4>
            <p>Du bist Großstadt-Nomad*in und/ oder eher Minimalist*in? Mit Laptop und Kaffeetasse und wechselnden Tischen bist du restlos glücklich, mit Noise Cancelling Headphones behälst du immer dein Zen? Reservier dir einen Flex Desk!</p>
            <ul>
                <li>Flexibler Schreibtisch</li>
                <li>offene Area</li>
                <li>Zugang zu Öffnungszeiten</li>
                <li>Meetingraum 10€/h</li>
            </ul>
            <div class="d-flex"><p class="mr-2">Vorläufiger Preis (ganzer Monat):</p><h4>100€/Monat</h4></div>
            <div class="d-flex"><p class="mr-2">Vorläufiger Preis Flex10 (max. 10 Tage im Monat):</p><h4>50€/Monat</h4></div>
            <wired-button class="cta__button align-self-center py-2">
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd0xkhzUN-gf8_gm3RGQqqwdvjzHMRwD0gT23D8rknPqxv4ag/viewform?usp=sf_link">Tisch reservieren!</a>
            </wired-button>
        </div>
    </div>
    <div class="container py-2">
        <div class="product-wrapper coworking__box">
            <h4>Tagespass</h4>
            <p>Der 'Hop on, Hop off' Bus des Coworkings. Du genießt alle Vorteile des Flex Desks, kommst aber nur einmalig oder gelegentlich vorbei. Wir freuen uns, dich zu sehen!</p>
            <div class="d-flex"><p class="mr-2">Vorläufiger Preis:</p><h4>15€/Tag</h4></div>
        </div>
    </div>
</section>