<div class="container cta py-5">
    <div class="row">
        <div class="col-md-6 p-2">
            <div class="cta__box p-4 d-flex flex-column">
                <p>
                    Ihr glaubt an unsere Idee?
                    Ihr möchtet dem Kalk Space bei seinem Start auf die Sprünge helfen?
                    <strong>Wir suchen euch als langfristige Partner.</strong>
                </p>
                <wired-button class="cta__button align-self-center">
                    <a href="mailto:inbox@kalk.space?subject=Partner%20werden">Partner werden!</a>
                </wired-button>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="cta__box p-4 d-flex flex-column">
                <p>
                    Du möchtest mitgestalten?
                    Du hast Ideen, wie Coworking sich anfühlen sollte?
                    Du willst im Kollektiv großartige Dinge erreichen?
                    <strong>Unser Kollektiv sucht dich!</strong>
                </p>
                <wired-button class="cta__button align-self-center">
                    <a href="mailto:inbox@kalk.space?subject=Teil%20des%20Kollektivs%20werden">Kollektiv-Mitglied werden!</a>
                </wired-button>
            </div>
        </div>
    </div>
</div>