<div class="container cta py-5">
    <div class="row">
        <div class="col-md-6 p-2">
            <div class="cta__box p-4 d-flex flex-column justify-content-between">
                <h3>Community</h3>
                <p>
                    Unser Ziel: Ein Kollektiv, das als Verein organisiert die Basis einer
                    Community rund um ... bildet.
                </p>
                <wired-button class="cta__button align-self-center">
                    <a href="/slack-invite">Teil der Community werden!</a>
                </wired-button>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="cta__box p-4 d-flex flex-column justify-content-between">
                <h3>Coworking</h3>
                <p>
                    Wir bieten flexibel mietbare Arbeitsplätze mitten in Kalk.
                    Fix-Desk: Fester Tisch im ruhigen Bereich.
                    Flex-Desk: Komm während unserer Öffnungszeiten vorbei und such dir einen Tisch aus.
                    Tagespass: Für kurze Zeit vorbeikommen und einen freien Tisch nutzen.
                </p>
                <wired-button class="cta__button align-self-center">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0xkhzUN-gf8_gm3RGQqqwdvjzHMRwD0gT23D8rknPqxv4ag/viewform?usp=sf_link">Tisch reservieren!</a>
                </wired-button>
            </div>
        </div>
    </div>
</div>
