<section id="vision" class="my-3">
        <div class="space-one">
            <h3 class="container py-4 d-flex justify-content-center">
                Für alle
            </h3>
        </div>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col">
                    <p>
                        Deine Teilhabe am KalkSpace ist nicht von finanziellen Mitteln abhängig. Sowohl das Coworking als auch das Vereinsleben stehen dir auch offen, wenn du die Mitgliedsbeiträge nicht aufbringen kannst. Schreib uns eine kurze Mail an vorstand@kalk.space oder sprich uns mittwochs kurz an. 
                    </p>
                </div>
            </div>
        </div>
    </section>