<section id="foerder mb-5">
    <div class="space-one">
        <h3 class="container py-4 d-flex justify-content-center">
            Freund*innen und Unterstützer*innen
        </h3>
    </div>
    <div class="container py-5 flex-column">
        <div class="flex-column">
            <img
                src="/img/railslove.png"
                alt="Logo Railslove"
                title="Railslove"
                class="foerder__avatar mb-5"
            />
            <p>Unsere Freund*innen von <a href="https://www.railslove.com/" target="_blank">Railslove</a> haben schon früh an unsere Ideen geglaubt und unterstützen uns seitdem auf ganzer Linie. Danke!</p>
        </div>
    </div>
</section>