<section id="foerder mb-5">
  <div class="space-one">
    <h3 class="container py-4 d-flex justify-content-center">
      Freund*innen und Unterstützer*innen
    </h3>
  </div>
  <div class="foerder__list container py-5 flex-row flex-wrap">
    <div class="flex-column container">
      <img
        src="/img/sponsors/railslove.png"
        alt="Logo Railslove"
        title="Railslove"
        class="foerder__avatar mb-5"
      />
      <p>
        Unsere Freund*innen von
        <a href="https://www.railslove.com/" target="_blank" rel="noreferrer">Railslove</a> haben
        schon früh an unsere Ideen geglaubt und unterstützen uns seitdem auf
        ganzer Linie. Danke!
      </p>
    </div>
    <div class="flex-column container">
      <img
        src="/img/sponsors/stormforger.png"
        alt="Logo StormForger"
        title="StormForger"
        class="foerder__avatar"
      />
      <p>
        Dank
        <a href="https://www.stormforger.com/" target="_blank" rel="noreferrer">StormForger</a>
        haben wir einen vernünftigen Drucker in unserem Space.
      </p>
    </div>
  </div>
</section>
