<section id="news" class="my-3">
    <div class="space-one">
        <h3 class="container py-4 d-flex justify-content-center">
            News
        </h3>
    </div>
    <div class="container borderPrimary my-5">
        <div class="py-3">
          <h3 class="py-4">Recap Eröffnungsfeier</h3>
          <p>
            Es war ein großartiger Tag voller Kennenlernen, Austauschen, Waffeln, Yoga und Kunst. Danke an alle, die da waren!
          </p>
        </div>
        <div class="news__imagerow">
          <img
            src="/img/news/opening_one.png"
            alt="Logo Railslove"
            title="Railslove"
            class="news__img"
          />
          <img
            src="/img/news/opening_two.png"
            alt="Logo Railslove"
            title="Railslove"
            class="news__img"
          />
          <img
            src="/img/news/opening_three.png"
            alt="Logo Railslove"
            title="Railslove"
            class="news__img"
          />
          <img
            src="/img/news/opening_four.png"
            alt="Logo Railslove"
            title="Railslove"
            class="news__img"
          />
        </div>
        <div class="py-5">
          <h4>Wie geht es jetzt weiter?</h4>
          <p>
            Wir sind (bis auf kleinere Ecken) mit der Renovierung fertig. Das heißt: Ab sofort kannst du in unserem Space coworken.
            Außerdem sind wir jetzt offen wir Meetups und Initiativen, die ein Zuhause suchen.
            Wenn du Interesse hast, schreib eine kurze Mail an <a href="mailto:hallo@kalk.space">hallo@kalk.space</a> oder komm auf einen Kaffee vorbei!
          </p>
        </div> 
      </div>
    </div>
</section>
