<section id="news" class="my-3">
    <div class="space-one">
        <h3 class="container py-4 d-flex justify-content-center">
            News
        </h3>
    </div>
    <div class="container borderPrimary my-5">
      <div class="">
        <h3 class="py-4">Eröffnungsfeier</h3>
        <p>Am Samstag, den 28.09. ab 10.00 Uhr ist es so weit. Wir öffnen die Tore! Ihr seid alle herzlich eingeladen, an einem der Programmpunkte teilzunehmen, oder einfach mal so vorbeizuschauen.</p>
        <h4 class="py-4">Programm:</h4>
        <h5>Coworking (oben)</h5>
        <ul>
          <li>12:00 - 13:00: Das Kölner Luftdatenprojekt vorgestellt von Marcel Belledin (OkLab Köln)</li>
          <li>13:00 - 15:00: Kleinstteile löten ohne Lötkolben - SMD-Lötworkshop</li>
          <li>14:30 - 15.00: Rubicks Cube für Einsteiger*innen mit @p3nny</li>
          <li>15:00: Entspannung für Kinder (hinterer Raum)</li>
          <li>17:30 - 18.20: F.U.C.K Frauen* und Computer Kram Meet up</li>
          <li>18:30 Uhr - Podcast Meetup: Erfahrungsbericht: Was hätte ich gerne am Anfang gewusst? mit Alex Freise</li>
        </ul>
        <h5>Werkstatt (unten)</h5>
        <ul>
          <li>11:00 - 12:00: Yoga mit Christine</li>
          <li>ab 14:00 - Live Painting eines Astronauten mit Lars</li>
          <li>20:00 Vorführung der Dokumentation "All creatures welcome" über den Chaos Computer Club</li>
          <li>Dannach wird gefeiert mit:
            <ul>
              <li>Limo, Kölsch, Pizza</li>
              <li>VR BeatSaber Battles</li>
              <li>RenovierungsFuckUpNight</li>
            </ul>
          </li>
        </ul>
        <h5>Ganztägig</h5>
        <ul>
          <li>Amiga Retrogaming mit Mop</li>
          <li>Pocket Room (Medienkunst) mit @nodepond (ab 14:00)</li>
          <li>Waffeln</li>
        </ul>
        <p>Wir freuen uns auf euch!</p>
        <span><p class="subnote">Das Programm kann sich noch ändern, die aktuelle Version findest du in unserem <a href="https://discuss.kalk.space/t/eroeffnungsparty-save-the-date/67" target="_blank">Forum</a>.</p></span>
      </div>
    </div>
</section>
