<section id="team mb-5">
    <div class="space-one">
        <h3 class="container py-4 d-flex justify-content-center">
            Team
        </h3>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 mb-5">
                <img
                    src="/img/team/penny.jpg"
                    alt="Avatar-Bild von Patricia Ennebach"
                    title="Patricia Ennenbach"
                    class="team__avatar"
                />
                <p class="team__name">Penny</p>
                <p>
                        Freie Journalistin. Produkt- und Projektmanagement.
                        Baut datenjournalistische Formate, Chatbots und Webanwendungen.
                        Und viel zu wenig Drachen. Engagiert sich für Frauen* und Computer
                        Kram (Fuck Cologne), Code4kids und Open Data.
                </p>
            </div>
            <div class="col-md-6 mb-5">
                <img
                    src="/img/team/mop.jpg"
                    alt="Avatar-Bild von Andreas Streichardt"
                    title="Andreas Streichardt"
                    class="team__avatar"
                />
                <p class="team__name">Mop</p>
                <p>
                        Freiberuflicher Softwareentwickler, Scrum Master, Kalauer as a Service.
                        Mag schnelle Ergebnisse und Prozessautomatisierung. Fahrradkette statt Blockchain.
                </p>
            </div>
            <div class="col-md-6 mb-5">
                <img
                    src="/img/team/christine.png"
                    alt="Avatar-Bild von Christine Gotthardt"
                    title="Christine Gotthardt"
                    class="team__avatar"
                />
                <p class="team__name">Christine</p>
                <p>
                        Freiberufliche Softwareentwicklerin. Zweite Heimat zwischen Indien und Sizilien.
                        Begeistert von agilen Arbeitsprozessen, netten Kolleg*innen, Frontend,
                        lernt die Begeisterung fürs Backend und Geduld.
                </p>
            </div>
            <div class="col-md-6 mb-5">
                <img
                    src="/img/team/marcus.jpg"
                    alt="Avatar-Bild von Marcus Weiner"
                    title="Marcus Weiner"
                    class="team__avatar"
                />
                <p class="team__name">Marcus</p>
                <p>
                        Freier Softwareentwickler. Begeistert von guter Infrastruktur,
                        Kollaboration und pragmatischen Problemlösungen. Neue Ansätze
                        fürs Arbeiten fördern die Lebensqualität.
                </p>
            </div>
        </div>
    </div>
</section>