<div class="container py-5 vision">
    <h2 class="my-3 text-center">Unsere Vision</h2>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/robot.svg" alt="" />
            <p>
                Wir sind digitale Menschen. Deshalb brauchen wir <strong>digitale Arbeitsplätze</strong>:
                <em>flexibel, agil, transparent, remote-friendly</em>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/like.svg" alt="" />
            <p>Jeder Gedanke zählt: <strong>Flache Hierarchie, maximale Mitbestimmung</strong></p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/rocket.svg" alt="" />
            <p>Raum für Entfaltung: Was kann, das darf.</p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/magic.svg" alt="" />
            <p>Vielfalt: Ist wie der Code of Conduct nicht optional, sondern essenziell.</p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/float.svg" alt="" />
            <p>Keine Insel: offen für Meetups, Community Events, Partnerschaften</p>
        </div>
    </div>
</div>
