<div class="container py-5 vision">
    <h2 class="my-3 text-center">Unsere Vision</h2>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/robot.svg" alt="" />
            <p>
                Digitale Menschen brauchen analoge Netzwerke: <strong>Community matters!</strong>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/plane.svg" alt="" />
            <p>
                <strong>Arbeitsumgebung</strong>: Gutes Internet, flexible Möbel, Getränke, Whiteboards, Pflanzen, Meeting-Räume
            </p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/like.svg" alt="" />
            <p>
                Organisiert im Kollektiv: Flache Hierarchie, <strong>maximale Mitbestimmung & Transparenz</strong>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/magic.svg" alt="" />
            <p>
                <strong>Vielfalt ist ein Gewinn</strong>: Ein Code of Conduct hilft, diese zu schützen und fördern.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/float.svg" alt="" />
            <p>
                Plattform statt Insel: Offen für <strong>Meetups, Community Events, Partnerschaften</strong>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 my-3 d-flex flex-row align-items-start">
            <img class="vision__icon mr-4" src="/icons/sun.svg" alt="" />
            <p>
                Inspiration tanken: <strong>Ausstellungen lokaler Künstler, Hackprojekte</strong>.
            </p>
        </div>
    </div>
</div>
